<div class="row">
    <div class="col-sm-8 col sm-offset-2">
        <h2>Connectez-vous à votre compte</h2>
        <form [formGroup]='signInForm' (ngSubmit)='onSubmit()'>
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="text" formControlName='email' id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="text" formControlName='password' id="password" class="form-control">
            </div>
            <button type="submit" class='btn btn-success' [disabled]='signInForm.invalid'>Connectez-vous</button>
        </form>
        <p class="text-danger">{{ errorMessage }} </p>
    </div>
</div>