<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Créez votre compte</h2>
        <form [formGroup]="signUpForm" (ngSubmit)='onSubmit()'>
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="text" formControlName='email' id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="text" formControlName='password' id="password" class="form-control">
            </div>
            <button class="btn btn-success" type='submit' [disabled]='signUpForm.invalid'>Créer mon compte</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
</div>