[submodule "Exercices_JS/Exercices_JS/VueJS/Vue-fr"]
	path = Exercices_JS/Exercices_JS/VueJS/Vue-fr
	url = git@github.com:Peanuts-83/Vue-fr.git
[submodule "Exercices_JS/debuggez-l-interface-de-votre-site"]
	path = Exercices_JS/debuggez-l-interface-de-votre-site
	url = git@github.com:Peanuts-83/debuggez-l-interface-de-votre-site.git
[submodule "Exercices_JS/testez-vos-applications-front-end-avec-javascript"]
	path = Exercices_JS/testez-vos-applications-front-end-avec-javascript
	url = git@github.com:Peanuts-83/testez-vos-applications-front-end-avec-javascript.git
[submodule "Exercices_JS/7150606-React-intermediaire"]
	path = Exercices_JS/7150606-React-intermediaire
	url = git@github.com:OpenClassrooms-Student-Center/7150606-React-intermediaire.git
[submodule "Exercices_JS/7008001-Debutez-avec-React"]
	path = Exercices_JS/7008001-Debutez-avec-React
	url = git@github.com:OpenClassrooms-Student-Center/7008001-Debutez-avec-React.git
[submodule "Exercices_JS/Jest-repos_collegues/DouglasMeunier_9_16062021"]
	path = Exercices_JS/Jest-repos_collegues/DouglasMeunier_9_16062021
	url = git@github.com:codbear/DouglasMeunier_9_16062021.git
[submodule "Exercices_JS/Jest-repos_collegues/Billed-app-EN"]
	path = Exercices_JS/Jest-repos_collegues/Billed-app-EN
	url = git@github.com:OpenClassrooms-Student-Center/Billed-app-EN.git
[submodule "Exercices_JS/Angular/coffee_inheritance"]
	path = Exercices_JS/Angular/coffee_inheritance
	url = git@github.com:Peanuts-83/ng-coffe_inheritance.git
