body {
  margin: 0;
  padding: 100px;
  background-color: rgb(182, 209, 197);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
