<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'On',
                'list-group-item-danger': appareilStatus === 'Off'}">
    <div class="row">
        <div class="col-10">
            <a [routerLink]="[appareilId]">
                <h4 [ngStyle]="{color: getColor()}"> {{ appareilName }} -- Statut: {{ appareilStatus }} </h4>
            </a>
        </div>
        <div class="col-2 opacity-25">
            <button type='button' class='btn btn-secondary' [disabled]='!isAuth' (click)='onRemove()'>
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
    <button class="btn btn-success" *ngIf='appareilStatus==="Off"' (click)='onSwitchOn()'
        [disabled]='!isAuth'>Allumer</button>
    <button class="btn btn-danger" *ngIf='appareilStatus==="On"' (click)='onSwitchOff()'
        [disabled]='!isAuth'>Eteindre</button>
</li>