footer {
    box-align: center;
    background-color: #333333;
    min-width: 100%;
    min-height: 25px;
    color: white;
}
.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}