button {
    margin: .5rem .25rem;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
