<div class="col-xs-12">
    <p class="small text-left">
        Last update: {{ lastDate | async | date: 'short' }}
    </p>
    <ul class="list-group">
        <app-appareil *ngFor='let appareil of appareils; let i = index'
                        [appareilName]='appareil.name'
                        [appareilStatus]='appareil.status'
                        [id]='appareil.id'
                        [isAuth]='authValue()'></app-appareil>
    </ul>
    <button class='btn btn-success m-1' [disabled]='!authStatus' (click)='switchOn()'>Tout allumer</button>
    <button class='btn btn-danger my-2 mx-1' [disabled]='!authStatus' (click)='switchOff()'>Tout éteindre</button>
    <!-- <button class="btn btn-primary m-1" (click)='onSave()'>Enregistrer les appareils</button> -->
</div>
